#Add the Results/ directory to the.gitignore file
Results/
config.ini
research/
_pycache_/
Input_AV/
Input_standby/
transformers/
LlamaIndex_refs/
Whisper_models/pjer_whisper-medium-sv.pt
Whisper_models/pjer_whisper-small-sv.pt
Whisper_models/whisper-large-sv-v2.pt
Whisper_models/whisper-medium-nordic.pt
